.navbar-collapse { 
  flex-grow: 0;
}
.navbar-logo {
  margin: 0px;
}
.button-navigation
{
  min-height: 52px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 8px;
    background-color: #8b5cf6;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-size: 16px;
    font-weight: 500;
}
.w-button
{
  padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.navbar-bgc {
    background-color: hsla(0, 0%, 100%, 0);
    font-family: Inter, sans-serif;
    line-height: 1rem;
}

.navbar11_dropdown-toggle {
    margin-right: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22px;
    font-size: 16px;
    font-weight: 520;
    color: #222222;
    --bs-nav-link-hover-color: #8b5cf6;
}
.logo 
{
  /* width: 100%; */
  height: 43px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
}

