.row-fluid [class*="span"] {
    min-height: 1px;
}
@media (min-width: 1280px)
{
.row-fluid [class*=span] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.564102564%;
    *margin-left: 2.510911074638298%;
    min-height: 28px;
    width: 100%;
}}
.row-fluid [class*=span] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    min-height: 28px;
    width: 100%;
}
@media (min-width: 768px) and (max-width: 1139px)
{
.row-fluid:after, .row-fluid:before {
    content: "";
    display: table;
}}
@media (min-width: 768px) and (max-width: 1139px)
{
.row-fluid:after {
    clear: both;
}}
@media (min-width: 768px) and (max-width: 1139px)
{
.row-fluid:after, .row-fluid:before {
    content: "";
    display: table;
}}
.product-text
{
    color: #666;
    font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/* [data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateZ(0);
}
[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0;
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
    transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
    opacity: 0;
    transition-property: opacity,transform;
}
[data-aos=fade-up] {
    transform: translate3d(0,100px,0);
} */

@media (min-width: 1280px)
{
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
}
.row-fluid [class*=span]:first-child {
    margin-left: 0;
}
.row-fluid [class*="span"] {
    min-height: 1px;
}
@media (min-width: 1280px)
{
.row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
}}

.liftingBox {
    background-color: white;
    display: block;
    padding: 16px;
    border-radius: 4px;
    min-height: 429px !important;
    margin: 16px 0px;
    border: 1px solid #e6e7e8;
    transition: .25s ease-in-out;
    text-align: left
}

.liftingBox:hover {
    transform: translateY(-0.5em);
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.15);
    transition: .25s ease-in-out
}

.liftingBox p {
    font-size: .8em;
    color: #242424
}

@media(max-width:1080px) {
    .liftingBox {
        min-height: 466px !important
    }
}

@media(max-width:850px) {
    .liftingBox {
        min-height: 512px !important
    }
}

@media(max-width:768px) {
    .liftingBox {
        min-height: 80px !important
    }
}

.alignImgCenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
.banner-top {
    background: linear-gradient(90deg,#4e4e4e 48.94%,#1f1f1f 77.01%,#171717 89.37%,#3d3c3c 98.56%);
    box-shadow: 0px 14px 6px rgb(255 255 255 / 25%);
    margin-top: 8px;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 80px;
    z-index: 999;
}
.container-fluid .row-fluid .page-center {
    float: none;
    max-width: 1080px;
    margin: 0 auto;
}
.largeNumberStatWrapper
{
    text-align: center;
    line-height: 1.5;
    margin-top: 50px;
}
.products-section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}